* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  background-color: rgb(3, 43, 49);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.stickeMode {
  position: sticky;
  top: 20px;
}
.title_box {
  margin-top: 80px;
  justify-content: center;
}
.title {
  color: aquamarine;
}

.out {
  margin-top: 40px;
  width: 195.5px;
  height: 20px;
}

.btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: aqua;
  color: black;
  font-weight: bold;
}
.buton {
  margin-top: 30px;
  margin-left: calc(100% - 50% - 30px);
}
.btn:hover {
  background-color: gold;
}

.list {
  margin-top: 40px;
  list-style: none;
  color: white;
  font-size: smaller;
}
.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: rgb(169, 180, 182) 1px solid;
  letter-spacing: 0.02rem;

  width: 195.5px;
}
.deleteBtn {
  width: 14.55px;
  height: 14.55px;
  border-radius: 100px;
  background-color: aqua;
  font-weight: bold;
}

.deleteBtn:hover {
  background-color: gold;
}
.spLi {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
.spOrder {
  display: flex;
  justify-content: center;
  width: 15.5px;
  color: black;
  margin-right: 6px;
  border-radius: 100px;
  background-color: aquamarine;
}
